body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0px;
    background-color: #ffffff;
    color: #333;
    line-height: 1.6;
    width: 1300px;
    height: 2890px;

}
#logo {
    align-items: center;
    height: 500px;
    width: 500px;
    margin-left: 60px;
    margin-bottom: -5px;
    margin-top: -80px;
}
header {
    background-color: #005f73; /*Cor Verde*/
    color: white;
    width: 100%;
    padding: 200px 0px;
    border-bottom: 10px solid #94d2bd; /* Linha sutil separando o cabeçalho */
}
.menu {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -90px;
}

.menu a {
    text-decoration: none;
    color: white;
    background-color: #94d2bd;
    padding:30px 50px;
    margin: 30 8 -700 8;
    border-radius: 80px;
    transition: background-color 0.3s ease-in-out;
    font-size: 30px;
    display: inline-block;
}
.menu a:hover {
    background-color: #e9d8a6; /* Cor de hover para realçar o efeito */
}
.home {
    text-decoration: none;
    color: black;
}
footer {
    margin-top: 100%;
    background-color: #333;
    color: #999;
    text-align: center;
    padding: 1px;
    font-size: 40px;
}
#MyChart{
    margin-left: 10px; 
    margin-right: 20px; 
    margin-top: 35px;
    height: 200px;
    width: 400px;
}
#totalBox {
    text-align: center;
    background-color: #f1f1f1;
    padding: 20px;
    margin: 30px auto;
    border-radius: 15px;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    color: #333;
}
.about-us{
    margin: 70 15 -300 15;
    text-align: justify;
}
#about-text{
    text-indent: 30px;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
    
    #totalBox {
        width: 80%;
    }
    header h1 {
        font-size: 28px;
    }
    
    .menu a {
        font-size: 14px;
        padding: 8px 15px;
    }
}

/*Account*/
.profile-card{

    width:100%;
    max-width: 360px;
    height: auto;
    text-align: center;
    margin: auto;
    margin-bottom:-250px;
    margin-top: 30px;
    box-shadow: 0px 0px 8px rgba(56, 56, 56, 0.1);

}

.profile-card .profile-header{

    background-color: #000;
    padding: 20px 40px 100px 40px;

}

.profile-card .profile-body{

    background-color: #ffffff;
    padding: 20px 40px 100px 40px;

}
.profile-card .profile-body .info-profile{
    text-align: left;
    color: #a4a4a4e5;
   
}
#n-profile {
    color: #b6b6b6e5;
    font-size: 15;
    text-align: center;
    margin-top: -10;
}
.profile-card .profile-body .user-info{
    text-align: left;
    margin-left: 50px;
    margin-top: -166px;
}
#user-name, #user-email{
    margin-left: 5px;
}
#user-info{
    text-align: left;
    margin-left: 16px;
    margin-top: -1px;
 }
#user-info2{
    text-align: left;
    margin-left: 30px;
    margin-top: 18px;
    margin-right: -10px;
 }
#logo-account{
    width: 100%;
    height: auto;
}
.profile-card .profile-body .img-perfil{

    margin-top: -85px;
    margin-bottom: 20px;

}

.profile-card .profile-body .img-perfil img{

    width: 120px;
    height: 120px;
    border-radius: 50%; 
    padding: 3px;
    background-color: #ededed;
    margin-left:10px;
}
/*Help*/ 

#qfrequency{
    margin: 15;
}

.accordion {
  background-color: #f1f1f1;
  color: #333;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-bottom: 5px;
}

    
.active, .accordion:hover {
  background-color: #ccc;
  border-radius: 15px;
  border:none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  
}
.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-right: 10px;
}

.active:after {
  content: "\2212";
}
.panel {
  text-align: justify;
  text-indent: 15px;
  padding: 0 18px;
  margin-bottom: 5px;
  display: none;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.form{
  text-align: justify;
  text-indent: 15px;
  padding: 0 18px;
  margin-bottom: 5px;
  display: none;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}
#frm {
    text-indent: 10px;
    font-family: Arial, sans-seriff;
    margin: 10 10 0 -15;
    width: 100%;
    height: 200;
    resize: none;
    background-color: white;
    box-shadow: 0 2pz 4px rgba(0,0,0,0.03);
}
textarea{
    border-radius: 10px;  
}
#submit{
    padding: 5 15;
    font-size: 15;
    margin: 10px;
    border: 0px;
    border-radius: 30px;
    background-color: #94d2bd;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
}
#submit:hover {
    background-color: #e9d8a6;
}

.calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 350px;
    height: 255px;
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    padding: 10px;
    margin: 40px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
 }
.day-of-week {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
/*.calendar #daybox{
    positon: absolute;
    z-index: 1;
    background-color: #333;
    width: 100px;
    height: 30px;
}*/
.day {
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2 5 2 5;
    cursor: pointer;
    position: relative;
    border-radius: 50px;
    transition: background-color 0.2s ease;
}
.day:hover {
    background-color: #d5dfff;
    border-radius: 50px;
}
.tooltip {
    display: none;
    position: absolute;
    text-align: center;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    z-index: 10;
    width: 80px;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}
.total {
    text-align: center;
    background-color: #f1f1f1;
    padding: 30px;
    margin-top: 150px;
    margin-left: -200px;
    border-radius: 15px;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    color: #333;
}
.selector {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}
.selector select {
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}
